ThumbnailMaker/.vs/*
ThumbnailMaker/Debug/*
ThumbnailMaker/Release/*
ThumbnailMaker/ThumbnailMaker/Debug/*
*.jpg
ThumbnailMaker/ThumbnailMaker/Release/*
*.suo
theme/waterlily/.vs/*
theme/waterlily/Debug/*
theme/waterlily/Release/*
