tools/ThumbnailMaker/.vs/*
tools/ThumbnailMaker/Debug/*
tools/ThumbnailMaker/Release/*
tools/ThumbnailMaker/ThumbnailMaker/Debug/*
*.jpg
tools/ThumbnailMaker/ThumbnailMaker/Release/*
*.suo
theme/waterlily/.vs/*
theme/waterlily/Debug/*
theme/waterlily/Release/*
